
@{
    ViewBag.Title = "HW2";
}

<br />
<p>
    姓名:
    @Html.TextBox("name", "")
</p>

<p>
    帳號:
    @Html.TextBox("name", "")
</p>

<p>
    密碼:
    @Html.Password("password", "")

</p>

<p>
    性別:
    @Html.RadioButton("isNew", "0") 男性
    @Html.RadioButton("isNew", "1") 女性
</p>

<p>
    興趣:
    @Html.CheckBox("ishobby")游泳
    @Html.CheckBox("ishobby")閱讀
    @Html.CheckBox("ishobby")看電影

</p>

<p>
    自我介紹:
    @Html.TextArea("about")


</p>


